.mouse-shadow {
    position: fixed;
    pointer-events: none; // Para evitar que o mouse interaja com esse div

    .shadow {
        width: 620px; // Ajuste conforme necessário
        height: 620px; // Ajuste conforme necessário
        background-color: #ffffff04; // Mantenha o fundo transparente
        border-radius: 90%;
        position: absolute;
        transform: translate(-50%, -50%);
        transition: box-shadow 0.3s ease;

        box-shadow: 0 0 300px #ffffff0d;

        &:hover {
            //box-shadow: 0 0 50px rgba(196, 23, 23, 0.7); 
            transform: scale(1.1) translate(-50%, -50%); // Aumenta ao passar o mouse
        }
    }
}